/* Register form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.form-element {
  padding: 10px;
}

.input {
  padding: 5px;
  border-style: hidden hidden solid hidden;
}

.input:focus {
  outline: none;
}

.btn {
  width: 100px;
  border-style: hidden;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: red;
}

.btn:hover {
  background-color: rgb(172, 0, 0);
}


/* Navbar */

.navbar li {
  list-style: none;
  padding: 30px;
}

.navbar li a {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 1.3em;
}

.navbar {
  display: flex;
  position: relative;
  left: 35%;
}

.navbar-container {
  display: flex;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  top: 0;
  z-index: 99;
}


/* Question form */

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}


/* Card styles */

.profile-question-container {
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.card-container {
  border: 1px solid rgb(216, 215, 215);
  padding: 20px;
  margin: 10px;
}

/* Question styles */

.question-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.929);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 10px;
  width: 80%;
}

.question-container:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(101%)
}

.single-question-container {
  margin-top: 170px;
  border: 1px solid rgb(214, 214, 214);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  margin-bottom: 50px;
}


/* Utility classes */

.ml-30 {
  margin-left: 30px;
}

.ml-10 {
  margin-left: 10px;
}

/* Edit question form */

.edit-question-form {
  margin-top: 50px;
}

/* Answer form */

.answer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Answer card */

.answer-card-container {
  border: 1px solid rgb(208, 208, 208);
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

/* Spinner */

@keyframes text-color {
  0% {
    color: rgba(106, 106, 106, 0.526)
  }

  50% {
    color: rgba(106, 106, 106, 0.821)
  }

  100% {
    color: rgba(106, 106, 106, 0.526)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  animation: text-color 2s ease-in-out alternate;
}

.spinner::before, .spinner::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 15px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
  pointer-events: none;
}

.spinner::before {
  border-left-color: red;
  --duration: 2s;
  --timing: ease-in;
}

.spinner::after {
  border-right-color:rgb(172, 0, 0);
  --duration: 2.5s;
  --timing: ease-out;
}

/* Select */

.select {
  border-style: hidden;
  background-color:rgba(214, 214, 214, 0)
}

.select:focus {
  outline: none;
}

/* Misc */

.home-heading {
  margin-top: 200px;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.home-heading::after {
  content: '.';
  font-family: sans-serif;
  color: red;
  font-size: 1.3em;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.home-container {
  background-image: url('./images/the_fear_that_synthesizers_would_ruin_music_1050x700.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.liked {
  filter: invert(12%) sepia(94%) saturate(7483%) hue-rotate(3deg) brightness(104%) contrast(111%);
}